<!DOCTYPE html>
<html>
<head>
  <title>Vinyl : <%= album.title %></title>
  <link rel="stylesheet" type="text/css" href="/style.css">
  <script type="text/javascript" src="/script.js"></script>
</head>
<body>

  <%- include( 'partials/header' ) %>
  
  <h1><%= album.title %></h1>
  <em>by <%= album.artist %></em>

  <h2>Reviews</h2>

  <div class="review-list">
    <% reviews.forEach( function(review) { %>
      <div>
        <a href="/albums/<%= review.album_id %>"><%= review.album_title %></a>
        <span><%= review.date_created %></span>
        <p>
          <%= review.content %>
        </p>
        <a href="/users/<%= review.user_id %>"><%= review.user_name %></a>
        <p> ------------------------------ </p>
      </div>
    <% }) %>
  </div>

</body>
</html>
