<!DOCTYPE html>
<html>
<head>
  <title>Vinyl : <%= album.title %></title>
  <link rel="stylesheet" type="text/css" href="/style.css">
  <script type="text/javascript" src="/script.js"></script>
</head>
<body>

  <%- include( 'partials/header' ) %>

  <h1><%= album.title %></h1>
  <em>by <%= album.artist %></em>

  <h2>Reviews</h2>

  <div class="review-list">
    <% reviews.forEach( function(review) { %>
      <div>
        <span><%= review.date_created %></span>
        <p>
          <%= review.content %>
        </p>
        <a href="/users/<%= review.user_id %>"><%= review.user_name %></a>

        <form
        onsubmit="return confirm('Are you sure you would like to delete this review?')"
        method="POST"
        action="http://localhost:3000/reviews/delete/<%= review.id %>/<%= review.user_id%>?page=albums&id=<%= review.album_id %>">
          <button type="submit"> Delete </button>
        </form>

        <p> ------------------------------ </p>
      </div>
    <% }) %>
  </div>

</body>
</html>
