<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title> Profile </title>
    <link rel="stylesheet" type="text/css" href="/style.css">
    <script type="text/javascript" src="/script.js"></script>
  </head>
  <body>
    <%- include( 'partials/header' ) %>

    <img src="#" alt="Image Here" />
    <h1> <%= user.name %> </h1>
    <p> Email: <%=  user.email %> </p>
    <p> Date Joined: <%=  user.date_joined %> </p>

    <div class="review-list">
      <% reviews.forEach( function(review) { %>
        <div>
          <a href="/albums/<%= review.album_id %>"><%= review.album_title %></a>
          <span><%= review.date_created %></span>
          <p>
            <%= review.content %>
          </p>

          <form
          onsubmit="return confirm('Are you sure you would like to delete this review?')"
          method="POST"
          action="http://localhost:3000/reviews/delete/<%= review.id %>/<%= review.user_id%>?page=users&id=<%= review.user_id %>">
            <button type="submit"> Delete </button>
          </form>

          <p> ------------------------------ </p>
        </div>
      <% }) %>
    </div>

  </body>
</html>
