<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title> Profile </title>
  </head>
  <body>
    <%- include( 'partials/header' ) %>

    <img src="#" alt="Image Here" />
    <h1> <%= user.name %> </h1>
    <p> Email: <%=  user.email %> </p>
    <p> Date Joined: <%=  user.date_joined %> </p>

    <%- include( 'partials/reviews' ) %>

  </body>
</html>
